.pressed {
    outline: 5px solid pink;
    background-color: peachpuff;
}

.keyboard {
    display: grid;
    grid-template-areas: 
        ".   up  ."
        "left down right";
    gap: 10px;
    width: 150px;
    margin: 50px auto;
}

.key {
    width: 70px;
    height: 70px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liveseyMovement {
    height: 200px;
    width: 500px;
    border: 2px solid black;
}

.up { grid-area: up; }
.down { grid-area: down; }
.left { grid-area: left; }
.right { grid-area: right; }
