.box {
    border: 2px solid black;
    background-color: peachpuff;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-block: 20px;
}

.dragging {
    outline: 5px solid red; 
}